body{
    margin: 0;
    padding: 0;
    background-image: url(/img/background.jpg);
    background-size: cover; 
}
.navbar{
    background-color: #161616;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
 }
.menu{
    background-color: #161616;
}
.navbar-nav{
    padding-left: 50px;
}
.navbar-center li a{
    font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a{
    color: #EE7C6B;
    padding-top: 20px;
}
.btn-danger{
    margin-top: 12px;
}
a.items:hover{
    border-top: 1px solid white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    background-color: #161616;
}
.login-sign-up{
    font-size: 18px;
}
.header-title{
    text-align: center;
    font-family: Calibri Light;
}
.header-title h1{
    margin-top: 70px;
    color: #EE7C6B;
    font-size: 55px;
    font-weight: bold;
}
.header-title h2{
    color: #83C75D;
    font-weight: bold;
    font-size: 35px;
}
.header-title p{
    color: #C8E2B1;
    font-size: 18px;
}
.login{
    margin-right: auto;
    margin-left: auto;
}
.txt{
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 20px 13px 10px 44px;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin: 0 0 20px;
    display: inline-block;
    background: rgba(255,255,255,0);
}
.user{
    background: url(/img/user-icon.png) no-repeat 5px 15px;
}
.pass{
    background: url(/img/password-icon.png) no-repeat 5px 15px;
}
.email{
    background: url(/img/email-icon.png) no-repeat 6px 20px;
}
.phone{
    background: url(/img/phone-icon.png) no-repeat 6px 18px;
}
.btn-submit{
    background: #ff3366;
    color: #FFF;
    font-size: 26px;
    padding: 0.3em 1.2em;
    width: 100%;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: Calibri Light;
}
.didnt-have-account{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 16px;
    font-family: Calibri Light;
}
.didnt-have-account a{
    text-decoration: none;
    font-weight: bold;
    color: #EE7C6B;
}
footer{
    background-color: #161616;
    height: 340px;
    color: white;
    padding-top: 35px;
    font-weight: normal;
    margin-top: 50px;
}
footer span{
    color: #fff;
    font-family: Calibri Light;
    font-size: 15px;
    text-align: left;
    display: flex;
}
.content-1-footer{
    text-align: center;
    color: #fff;
    font-family: Calibri Light;
    font-size: 15px;
    padding-top: 20px;
}
.col-md-2 span a{
    text-decoration: none;
    color: white;
}
.center-h3{
    text-align: center;
    padding-bottom: 5px;
}
.icon-in-footer{
    width: 50px;
    height: 50px;
    display: inline-block;
    padding-right: 25px;
    padding-left: 59px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}
.icon-in-footer:hover{
    transform: scale(1.5);
}
.icon-1-in-footer{
    background: url(/img/icons8-facebook-40.png) no-repeat 23px 15px;
}
.icon-2-in-footer{
    background: url(/img/instagram-icon.png) no-repeat 21px 15px;
}
.icon-3-in-footer{
    background: url(/img/icons8-twitter-40.png) no-repeat 21px 15px;
}
.icon-4-in-footer{
    background: url(/img/linkedin-icon.png) no-repeat 21px 15px;
}
.subcribe-label{
    text-align: center;
    color: #dfdfdf;
    font-size: 15px;
    padding-top: 10px;
}
select.form-control{
    border: none;
    border-bottom: 1px solid #FFF;
    box-shadow: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    width: 90%;
    display: inline-block;
    background: rgba(255,255,255,0);
}
#email:focus,select.form-control:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}
.last-content{
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
}
/*Pháº§n tin ná»•i báº­t*/
.hot-news-section{
    background-color: hsla(0, 100%, 90%, 0.15);
    border: 1px solid hsla(0, 100%, 90%, 0.3);
}
.hot-news-section .title{
    text-transform: uppercase;
}
.item{
    background-color: #fff;
    width: 48%;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #e73f3f;
}
.item-left{
    float: left;
}
.item-right{
    float: right;
}
.item .item_thumb {
    width: 35%;
    height: 140px;
    float: left;
    position: relative;
    background: #f1f1f1;
    background-size: cover;
    overflow: hidden;
}
.item .item_info {
    position: relative;
    float: right;
    width: 65%;
    padding-left: 10px;
}
.item .item_info .title{
    margin-top: 0;
    margin-bottom: 5px;
}
.item .item_info .title a {
    color: #E74C3C;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    display: block;
}
a:link {
    text-decoration: none;
}
.item .item_info .item_price_area {
    float: left;
}
.item .item_info .price {
    font-size: 12px;
    color: #fff;
    background: #880000;
    padding: 5px 5px 3px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
    border-radius: 3px;
}
.item .item_info .area {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
    margin-left: 15px;
    padding: 5px 0;
}
.item .item_info .location {
    margin-bottom: 5px;
    padding: 5px 0;
    float: right;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*Pháº§n tin má»›i*/
.block-left, .block-right{
    background-color: hsla(0, 100%, 90%, 0.15);
    border: 1px solid hsla(0, 100%, 90%, 0.3);
    margin-top: 15px;
}
.block-right{
    float: right;
    width: calc(100% - 66.66% - 15px);
    padding-bottom: 10px;
}
.block-left{
    float: left;
}
.post-item {
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
    height: 200px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}
.thumb-image {
    position: relative;
}
.post-item .info {
    width: calc(100% - 232px);
    background: #fff;
    height: calc(100% - 32px);
    display: inline-block;
    padding: 12px;
    color: #3d4d65;
}
.post-item .thumb-image {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url(https://static.homedy.com/themes/default/images/productpageedit/thumb-default_200x200.jpg);
    background-position: center center;
    background-size: cover;
}
.thumb-image .distance {
    position: absolute;
    bottom: 10px;
    left: 16px;
    display: inline-block;
    color: #fff;
}
.thumb-image .price {
    position: absolute;
    bottom: 10px;
    right: 16px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-align: right;
    font-weight: 300;
}
.thumb-image .status {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.post-item .thumb-image img,.post-item .info .detail .col .avatar img {
    width: auto;
    height: 100%;
}
.post-item .info .description {
    font-size: 15px;
    font-weight: 300;
    margin-top: 12px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.4em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
}
.post-item .info .address {
    width: 80%;
    float: left;
    margin-bottom: 8px;
    font-size: 14px;
    margin-top: 12px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
}
.post-item .info .date {
    float: right;
    margin-top: 12px;
    font-style: italic;
}
.post-item .info .detail {
    border-top: 1px solid #e8e8e8;
    margin-top: 6px;
    display: table;
    width: 100%;
    padding: 8px 0;
}
.post-item .info .detail .col.price {
    font-size: 20px;
}
.post-item .info .detail .col {
    font-size: 15px;
}
.post-item .info .detail .col.name {
    text-align: right;
}
.post-item .info .detail .col .fullname a {
    color: #3d4d65;
}
.post-item .info .detail .col .avatar img {
    width: auto;
    height: 100%;
}
.post-item .info .name {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #E74C3C;
    position: relative;
    overflow: hidden;
}
.post-item .info .detail .col .fullname {
    display: inline-block;
    vertical-align: middle;
}
.post-item .info .detail .mobile {
    color: #108ad8;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.post-item .info .detail .col {
    display: table-cell;
    vertical-align: middle;
}
.container.box-content{
    padding-right: 0;
    padding-left: 0;
}
 /*Pháº§n tin tá»©c má»›i*/
.sidebar_list_box_content ul {
    padding: 0;
}
.sidebar_list_box_content ul li{
    display: contents;
}
.news_item {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.news_item_category{
    color: #E74C3C;
}
.news_item .news_item_image {
    width: 100px;
    height: 80px;
    float: left;
}
.news_item .news_item_content {
    margin-left: 110px;
}
.news_item .news_item_content .news_item_title {
    font-weight: 700;
}
.news_item .news_item_image .news_item_image_url {
    width: 100%;
    height: 100%;
}
.whyus_block{
    background-color: hsla(0, 100%, 90%, 0.15);
    border: 1px solid hsla(0, 100%, 90%, 0.3);
    margin-top: 15px;
    padding-bottom: 15px;
}
.whyus_body{
    color: #fff;
    font-size: 15px;
}
/*introduce*/
.page-header{
    margin: 0 auto 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
}
.page-title{
    font-size: 28px !important;
    font-weight: 700 !important;
    margin-top: 0 !important;
    float: left;
    color: #eef10d !important;
}
.page-content > p{
    text-align: left;
    font-family: Calibri Light;
}
.p-1{
    margin-left: 30px;
}
.p-2{
    margin-left: 50px;
}
.p-3{
    color: blue;
    font-size: 20pt;
    font-family: Calibri Light;
    text-align: right;
    font-weight: bold;
}
/* */
/* Đăng ký */
.label-type-account{
	color: #EE7C6B;
    font-family: Calibri Light;
    font-size: 26px;
    font-weight: bold;
}
.address-input{
	background: url(/img/address-icon.png) no-repeat 6px 18px;
}
