/* Đăng tin */
.title{
	font-family: Calibri Light;
	font-weight: bold;
	color: #eef10d;
	margin-bottom: 50px;
}
.border-table{
	border: 1px solid #0c0e0b;
}
.note{
	font-family: Calibri Light;
	font-style: italic;
}
.note-1{
	color: red;
	font-weight: bold;
}
.note > p {
	color: white;
}
.control{
	padding-top: 100px;
}
.text-p{
	color: white;
	font-family: Calibri Light;
}
.address{
	background: url(/img/address-icon.png) no-repeat -3px 8px;
}
.control {
	padding: 26px 12px;
}
select.form-control{
	width: 100%;
	padding: 26px 12px;
}
/*menu*/
.btn-account{
	margin-right: 10px;
}
.btn-new{
	margin-left: 30px;
}
.dropdown-menu{
	padding: 15px 0px !important;
	min-width: 250px !important;
}