/*manage account css*/
.title-section{
	margin-top:100px;
}
.title-page {
	color: #EE7C6B;
	font-family: Calibri Light;
}

.title-tab {
	color: #fff;
	font-family: Calibri Light;
}

.content-in-tab {
	color: #fff;
	font-family: Calibri Light;
}

.input-group, .btn-submit {
	width: 60%;
}

#password_new1 {
	margin-bottom: 15px;
}

.form-control:focus {
	box-shadow: none;
}

.form-horizontal .control-label {
	padding-top: 18px;
}

}
.control-label, .td-title {
	font-size: 17px;
	color: #EE7C6B;
	font-family: Calibri Light;
}

.txt {
	font-size: 16px;
}

.td-title {
	white-space: nowrap;
	text-align: center;
}

.pass {
	background: url(/img/key-icon.png) no-repeat 9px 24px;
}

.email {
	background: url(/img/email-icon.png) no-repeat 6px 9px;
}

.user {
	background: url(/img/user-icon.png) no-repeat 5px 6px;
}

.disabled-input.phone {
	background: url(/img/phone-icon.png) no-repeat 5px 19px;
}

.disabled-input.user-id {
	background: url(/img/number-sign-icon.png) no-repeat 6px 19px;
}
.tab-content{
	padding-top: 100px;
}