select.form-control{
	width: 100%;
}
.form-search-group{
	filter: drop-shadow(5px 5px 10px black);
	background-color: hsla(0, 100%, 90%, 0.15);
	border: 1px solid hsla(0, 100%, 90%, 0.3);
}
label, h3{
	color: #EE7C6B;
	font-family: Calibri Light;
	font-size: 26px;
	font-weight: bold;
}
.row{
	margin: auto;
}
.col-sm-2{
	padding-right: 5px;
    padding-left: 5px;
}
.box-search{
    display: inline-block;
    padding: 15px 20px;
}
.btn-search{
	height: 35px;
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 3px;
}
.form-control option{
	color: #000;
}
.note-label{
	color: #898989;
	font-size: 14px;
	font-weight: normal;
}
*::-webkit-input-placeholder {
	color: #fff;
}
.txt{
	outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 6px 0px 6px 0px;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin: 0 0 20px;
    display: inline-block;
    text-align: center;
}
.bs-content{
	width: calc(100% - 130px);
	float: left;
}
.bs-search{
	width: 130px;
    float: right;
}