<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Trang chủ Booking Room</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/BookingRoom/src/main/resources/static/css/style.css" th:href="@{css/style.css}">
		<link rel="stylesheet" type="text/css" href="/BookingRoom/src/main/resources/static/css/style-search.css"  th:href="@{css/style-search.css}">
		<!--<link rel="stylesheet" type="text/css" href="/BookingRoom/src/main/resources/static/css/style-postNews.css"  th:href="@{css/style-postNews.css}"> -->
		<!-- <link rel="stylesheet" type="text/css" href="/BookingRoom/src/main/resources/static/css/style-manage-account.css"  th:href="@{css/style-manage-account.css}"> -->
	</head>
	<body>
		<nav th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">
	      	<div class="container menu">
		        <div class="menu-bar">
			        <ul class="nav navbar-nav navbar-center">
			            <li><a class="items" href="index.html" th:href="@{/templates/index.html}">Trang chủ</a></li>
			            <li><a class="items" href="#">Xem tin</a></li>
			            <li><a class="items" href="#">Tìm kiếm phòng trọ</a></li>
			            <li><a class="items" href="#">Tin khuyến mãi</a></li>
			            <li><a class="items" href="#">Giới thiệu</a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right">
			            <li><a class="login-sign-up items" href="login.html"  th:href="@{resources/templates/login.html}"><div>Đăng nhập</div></a></li>
			            <li><a class="login-sign-up items" href="register.html" th:href="@{resources/templates/register.html}"><div>Đăng ký</div></a></li>
			            <li><button class="btn btn-danger" href="#">Đăng tin</button></li>
			        </ul>
		        </div>
		    </div>
		</nav>
		<div class="header-title container">
			<h1>Booking Room</h1>
			<h2>Website cho thuê phòng trọ</h2>
			<p>Booking Room - Website đăng tin cho thuê phòng trọ, tìm phòng trọ nhanh, hiệu quả. cho thuê phòng trọ, nhà trọ, thuê nhà nguyên căn, cho thuê căn hộ. Vì vậy tin của bạn đăng trên website sẽ tiếp cận với nhiều khách hàng hơn, do đó giao dịch nhanh hơn, tiết kiệm chi phí hơn.</p>
		</div>
		<div th:replace="search :: th-search"></div>
		<div class="container hot-news-section section">
			<h3 class="title">Tin nổi bật</h3>
			<div class="row hot-news-content">
				<div class="col-sm-6 col-xs-12 item item-left">
					<div class="item_thumb _lazy" style="display: block; background-image: url(https://static123.com/phongtro123/uploads/images/thumbs/250x150/fit/2018/10/15/p-20160406-141302_1539572310.jpg); ">
						<a href="#"></a>
					</div>
					<div class="item_info">
						<h3 class="title">
							<a href="#" title="Phòng TIỆN NGHI, Máy Lạnh, Cửa Sổ, chỉ 2.8tr/tháng, NGAY BÀ QUẸO">Phòng TIỆN NGHI, Máy Lạnh, Cửa Sổ, chỉ 2.8tr/tháng, NGAY BÀ QUẸO</a>
						</h3>
						<div class="clearfix">
							<div class="item_price_area clearfix">
								<div class="price">2.8 Triệu/tháng</div>
								<div class="area">20m<sup>2</sup></div>
							</div>
							<div class="location">
								<a href="#" title="Quận Tân Phú, Hồ Chí Minh">Quận Tân Phú, Hồ Chí Minh</a>
							</div>
						</div>
						<p class="p_content">CHO THUÊ PHÒNG VIP TIỆN NGHI TỰ DO GIỜ GIẤC, KHÔNG CHUNG CHỦ: ***TIỆN ÍCH: - Chỉ 2 phút ra tới chợ VÕ THÀNH TRANG giúp bạn luôn mua được thực phẩm tươi ngon.…</p>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 item item-right">
					<div class="item_thumb _lazy" style="display: block; background-image: url(https://static123.com/phongtro123/uploads/images/thumbs/250x150/fit/2018/11/27/5bff379f-7651-4455-9ca5-a90df5378295_1543302525.jpg); ">
						<a href="#"></a>
					</div>
					<div class="item_info">
						<h3 class="title">
							<a href="#" title="Cho thuê phòng dạng căn hộ mini đường D3,diện tích 35m2 ,giá 6 triệu">Cho thuê phòng dạng căn hộ mini đường D3,diện tích 35m2 ,giá 6 triệu</a>
						</h3>
						<div class="clearfix">
							<div class="item_price_area clearfix">
								<div class="price">6 Triệu/tháng</div>
								<div class="area">35m<sup>2</sup></div>
							</div>
							<div class="location">
								<a href="#" title="Quận Bình Thạnh, Hồ Chí Minh">Quận Bình Thạnh, Hồ Chí Minh</a>
							</div>
						</div>
						<p class="p_content">Phòng cho thuê dạng căn hộ mini có bếp và toillet riêng trong phòng. Đầy đủ nội thất mới : giường 1,6 x 2m , tủ quần áo 1,8m , bàn trang điểm , bàn ăn ,ghế…</p>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 item item-left">
					<div class="item_thumb _lazy" style="display: block; background-image: url(https://static123.com/phongtro123/uploads/images/thumbs/250x150/fit/2018/10/15/p-20160406-141302_1539572310.jpg); ">
						<a href="#"></a>
					</div>
					<div class="item_info">
						<h3 class="title">
							<a href="#" title="Phòng TIỆN NGHI, Máy Lạnh, Cửa Sổ, chỉ 2.8tr/tháng, NGAY BÀ QUẸO">Phòng TIỆN NGHI, Máy Lạnh, Cửa Sổ, chỉ 2.8tr/tháng, NGAY BÀ QUẸO</a>
						</h3>
						<div class="clearfix">
							<div class="item_price_area clearfix">
								<div class="price">2.8 Triệu/tháng</div>
								<div class="area">20m<sup>2</sup></div>
							</div>
							<div class="location">
								<a href="#" title="Quận Tân Phú, Hồ Chí Minh">Quận Tân Phú, Hồ Chí Minh</a>
							</div>
						</div>
						<p class="p_content">CHO THUÊ PHÒNG VIP TIỆN NGHI TỰ DO GIỜ GIẤC, KHÔNG CHUNG CHỦ: ***TIỆN ÍCH: - Chỉ 2 phút ra tới chợ VÕ THÀNH TRANG giúp bạn luôn mua được thực phẩm tươi ngon.…</p>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 item item-right">
					<div class="item_thumb _lazy" style="display: block; background-image: url(https://static123.com/phongtro123/uploads/images/thumbs/250x150/fit/2018/11/27/5bff379f-7651-4455-9ca5-a90df5378295_1543302525.jpg); ">
						<a href="#"></a>
					</div>
					<div class="item_info">
						<h3 class="title">
							<a href="#" title="Cho thuê phòng dạng căn hộ mini đường D3,diện tích 35m2 ,giá 6 triệu">Cho thuê phòng dạng căn hộ mini đường D3,diện tích 35m2 ,giá 6 triệu</a>
						</h3>
						<div class="clearfix">
							<div class="item_price_area clearfix">
								<div class="price">6 Triệu/tháng</div>
								<div class="area">35m<sup>2</sup></div>
							</div>
							<div class="location">
								<a href="#" title="Quận Bình Thạnh, Hồ Chí Minh">Quận Bình Thạnh, Hồ Chí Minh</a>
							</div>
						</div>
						<p class="p_content">Phòng cho thuê dạng căn hộ mini có bếp và toillet riêng trong phòng. Đầy đủ nội thất mới : giường 1,6 x 2m , tủ quần áo 1,8m , bàn trang điểm , bàn ăn ,ghế…</p>
					</div>
				</div>

			</div>
		</div>
		
		<!-- <div th:replace="manage-account :: th-manage-account"></div> -->
		<!-- <div th:replace="login :: th-login"></div> --> 
		<!-- <div th:replace="register :: th-register"></div> -->
		<!-- <div th:replace="postNews :: th-postNews"></div> -->
		
		<footer th:fragment="footer">
			<div class="container">
				<div class="row">
		        	<div class="col-xs-12 col-sm-12 col-md-3">
		          		<div class="logo"><a class="logo" href="#"></a></div>
		          		<p class="content-1-footer">BookingRoom là một nền tảng trực tuyến cho các nhu cầu về vấn đề thuê trọ hiện nay. Chúng tôi đang làm việc trên một ứng dụng web để tạo điều kiện cho các khách hàng có nhu cầu cho thuê trọ và tìm kiếm phòng trọ.</p>
		        	</div>
		        	<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1 menu-footer">
			        	<h3>Hữu ích</h3>
			        	<span><a href="#">Trang chủ</a></span> 
			        	<span><a href="#">Xem tin</a></span>
			        	<span><a href="#">Tìm kiếm phòng trọ</a></span>
			        	<span><a href="#">Đăng tin cho thuê trọ</a></span>
			        	<span><a href="#">Terms and conditions</a></span>
			        	<span><a href="#">Cookies policy</a></span>
			        	<span><a href="#">Kết nối với chúng tôi</a></span>
			        	<span><a href="#">Giới thiệu</a></span>
		        	</div>
		        	<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-0.5  menu-footer">
		          		<h3>Tài khoản</h3>
		          		<span><a href="/BookingRoom/src/main/resources/templates/register.html">Đăng ký tài khoản mới</a> </span>
		          		<span><a href="#">Quản lý</a></span>
		          		<span><a href="#">Đổi mật khẩu</a></span>
		          		<span><a href="#">Xóa tài khoản</a> </span>
		          		<span><a href="#">Bảng tin</a></span>
		        	</div>
		        	<div class="col-xs-12 col-sm-12 col-md-4 menu-footer">
		          		<h3 class="center-h3">We are social</h3>
		          		<a href="#"><span class="icon-in-footer icon-1-in-footer"></span></a>
		          		<a href="#"><span class="icon-in-footer icon-2-in-footer"></span></a>
		          		<a href="#"><span class="icon-in-footer icon-3-in-footer"></span></a>
		          		<a href="#"><span class="icon-in-footer icon-4-in-footer"></span></a>
		          		<p class="subcribe-label">Phản hồi cho chúng tôi</p>
		          		<div class="form-group">
		            		<input type="text" name="email" class="form-control" id="email" placeholder = "Email address">
		          		</div>
		        	</div>
		    	</div>
			</div>
		    <p class="last-content">&copy; 2018 BookingRoom, all rights received</p>
		</footer>
		
	</body>
</html>
